{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                <a class="nav-link" href="{{ home_url }}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == about_url %}active{% endif %}">
                <a class="nav-link" href="{{about_url}}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
                <a class="nav-link" href="{{contact_url}}">Contact <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == product_list_url %}active{% endif %}">
                <a class="nav-link" href="{{product_list_url}}">Products <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
                <a class="nav-link" href="{{logout_url}}">Logout <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item {% if request.path == login_url %}active{% endif %}">
                <a class="nav-link" href="{{login_url}}">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == register_url %}active{% endif %}">
                <a class="nav-link" href="{{register_url}}">Register <span class="sr-only">(current)</span></a>
                {%endif%}
            <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                <a class="nav-link" href="{{ cart_url }}"><span class='navbar-cart-count'>{{ request.session.cart_items }}</span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
        </ul>
        {% include 'search/snippets/search-form.html' %}
    </div>
</nav>